[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests = "*"

[packages]
flask = "*"
selenium = "*"
simplejson = "*"
bs4 = "*"
python-dotenv = "*"
pyopenssl = "*"
gunicorn = "*"
requests = "*"
google-cloud-storage = "*"
google-cloud-tasks = "*"
googleapis-common-protos = "*"

[requires]
python_version = "3.7"
